<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="LoginTest">
	<test verbose="2" name="testLoginOK">
		<classes>
			<class name="com.bs.selenium.functional.LoginTest">
				<methods>
					<include name="testLoginOK" />
				</methods>
			</class>
		</classes>
	</test>
	<test verbose="2" name="testLogOut">
		<classes>
			<class name="com.bs.selenium.functional.LoginTest">
				<methods>
					<include name="testLogOut" />
				</methods>
			</class>
		</classes>
	</test> 	
	<test verbose="2" name="testLoginFailedBlankLoginPasswd">
		<classes>
			<class name="com.bs.selenium.functional.LoginTest">
				<methods>
					<include name="testLoginFailedBlankLoginPasswd" />
				</methods>
			</class>
		</classes>
	</test> 	 	 		
</suite>