<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Tests">

	<test verbose="2" name="testLoadAvatarPngPositiv">
		<classes>
			<class name="com.bs.selenium.functional.EditProfileTest">
				<methods>
					<include name="testLoadAvatarPngPositiv" />
				</methods>
			</class>
		</classes>
	</test>
	
</suite>

 	
