<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Tests">
	<test verbose="2" name="testLoginOK">
		<classes>
			<class name="com.bs.selenium.functional.LoginTest">
				<methods>
					<include name="testLoginOK" />
				</methods>
			</class>
		</classes>
	</test>
	<test verbose="2" name="testLogOut">
		<classes>
			<class name="com.bs.selenium.functional.LoginTest">
				<methods>
					<include name="testLogOut" />
				</methods>
			</class>
		</classes>
	</test>
	<test verbose="2" name="testLoginFailedBlankLoginPasswd">
		<classes>
			<class name="com.bs.selenium.functional.LoginTest">
				<methods>
					<include name="testLoginFailedBlankLoginPasswd" />
				</methods>
			</class>
		</classes>
	</test>
	<test verbose="2" name="testLoginFailedWrongPasswd">
		<classes>
			<class name="com.bs.selenium.functional.LoginTest">
				<methods>
					<include name="testLoginFailedWrongPasswd" />
				</methods>
			</class>
		</classes>
	</test>
	<test verbose="2" name="testLoginFailedWrongLogin">
		<classes>
			<class name="com.bs.selenium.functional.LoginTest">
				<methods>
					<include name="testLoginFailedWrongLogin" />
				</methods>
			</class>
		</classes>
	</test>
	<test verbose="2" name="testEnterAllFieldsCorrect">
		<classes>
			<class name="com.bs.selenium.functional.EditProfileTest">
				<methods>
					<include name="testEnterAllFieldsCorrect" />
				</methods>
			</class>
		</classes>
	</test>

	<test verbose="2" name="testEnterAllFieldsCorrectWithoutPasswords">
		<classes>
			<class name="com.bs.selenium.functional.EditProfileTest">
				<methods>
					<include name="testEnterAllFieldsCorrectWithoutPasswords" />
				</methods>
			</class>
		</classes>
	</test>

	<test verbose="2" name="testLoadAvatarGifPositive">
		<classes>
			<class name="com.bs.selenium.functional.EditProfileTest">
				<methods>
					<include name="testLoadAvatarGifPositive" />
				</methods>
			</class>
		</classes>
	</test>

	<test verbose="2" name="testLoadAvatarNegative">
		<classes>
			<class name="com.bs.selenium.functional.EditProfileTest">
				<methods>
					<include name="testLoadAvatarNegative" />
				</methods>
			</class>
		</classes>
	</test>

	<test verbose="2" name="testLoadAvatarJpegPositiv">
		<classes>
			<class name="com.bs.selenium.functional.EditProfileTest">
				<methods>
					<include name="testLoadAvatarJpegPositiv" />
				</methods>
			</class>
		</classes>
	</test>

	<test verbose="2" name="testLoadAvatarJpgPositiv">
		<classes>
			<class name="com.bs.selenium.functional.EditProfileTest">
				<methods>
					<include name="testLoadAvatarJpgPositiv" />
				</methods>
			</class>
		</classes>
	</test>

	<test verbose="2" name="testLoadAvatarPngPositiv">
		<classes>
			<class name="com.bs.selenium.functional.EditProfileTest">
				<methods>
					<include name="testLoadAvatarPngPositiv" />
				</methods>
			</class>
		</classes>
	</test>

	<test verbose="2" name="testAddNewFolderforOffersOk">
		<classes>
			<class name="com.bs.selenium.functional.AddNewFolderTest">
				<methods>
					<include name="testAddNewFolderforOffersOk" />
				</methods>
			</class>
		</classes>
	</test>

	<test verbose="2" name="testAddNewFolderforProjectOk">
		<classes>
			<class name="com.bs.selenium.functional.AddNewFolderTest">
				<methods>
					<include name="testAddNewFolderforProjectOk" />
				</methods>
			</class>
		</classes>
	</test>

	<test verbose="2" name="testAddNewFolderforTemplateOk">
		<classes>
			<class name="com.bs.selenium.functional.AddNewFolderTest">
				<methods>
					<include name="testAddNewFolderforTemplateOk" />
				</methods>
			</class>
		</classes>
	</test>

	<test verbose="2" name="testAddNewFolderforBusinessPropositionsOk">
		<classes>
			<class name="com.bs.selenium.functional.AddNewFolderTest">
				<methods>
					<include name="testAddNewFolderforBusinessPropositionsOk" />
				</methods>
			</class>
		</classes>
	</test>

	<test verbose="2" name="testAddNewFolderforProjectNegative">
		<classes>
			<class name="com.bs.selenium.functional.AddNewFolderTest">
				<methods>
					<include name="testAddNewFolderforProjectNegative" />
				</methods>
			</class>
		</classes>
	</test>

	<test verbose="2" name="testToggleButton">
		<classes>
			<class name="com.bs.selenium.functional.ClickToggleButtonTest">
				<methods>
					<include name="testToggleButton" />
				</methods>
			</class>
		</classes>
	</test>

	<test verbose="2" name="testPullDownContent">
		<classes>
			<class name="com.bs.selenium.functional.PullDownMenuTest">
				<methods>
					<include name="testPullDownContent" />
				</methods>
			</class>
		</classes>
	</test>

	<test verbose="2" name="testPullDownFileCateogory">
		<classes>
			<class name="com.bs.selenium.functional.PullDownMenuTest">
				<methods>
					<include name="testPullDownFileCateogory" />
				</methods>
			</class>
		</classes>
	</test>

	<test verbose="2" name="testSearchForMyFilesPageOK">
		<classes>
			<class name="com.bs.selenium.functional.SearchTest">
				<methods>
					<include name="testSearchForMyFilesPageOK" />
				</methods>
			</class>
		</classes>
	</test>

	<test verbose="2" name="testSearchForFilesPageOK">
		<classes>
			<class name="com.bs.selenium.functional.SearchTest">
				<methods>
					<include name="testSearchForFilesPageOK" />
				</methods>
			</class>
		</classes>
	</test>

	<test verbose="2" name="testSearchForActsPageOK">
		<classes>
			<class name="com.bs.selenium.functional.SearchTest">
				<methods>
					<include name="testSearchForActsPageOK" />
				</methods>
			</class>
		</classes>
	</test>

	<test verbose="2" name="testSearchForContractsPageOK">
		<classes>
			<class name="com.bs.selenium.functional.SearchTest">
				<methods>
					<include name="testSearchForContractsPageOK" />
				</methods>
			</class>
		</classes>
	</test>
	<test verbose="2" name="testSearchForMyFilesPageBlank">
		<classes>
			<class name="com.bs.selenium.functional.SearchTest">
				<methods>
					<include name="testSearchForMyFilesPageBlank" />
				</methods>
			</class>
		</classes>
	</test>
	<test verbose="2" name="testSearchForFilesPageBlank">
		<classes>
			<class name="com.bs.selenium.functional.SearchTest">
				<methods>
					<include name="testSearchForFilesPageBlank" />
				</methods>
			</class>
		</classes>
	</test>
	<test verbose="2" name="testSearchForActsPageBlank">
		<classes>
			<class name="com.bs.selenium.functional.SearchTest">
				<methods>
					<include name="testSearchForActsPageBlank" />
				</methods>
			</class>
		</classes>
	</test>
	<test verbose="2" name="testSearchForContractsPageBlank">
		<classes>
			<class name="com.bs.selenium.functional.SearchTest">
				<methods>
					<include name="testSearchForContractsPageBlank" />
				</methods>
			</class>
		</classes>
	</test>
	<test verbose="2" name="testCheckUserInfoInTheCabinet">
		<classes>
			<class name="com.bs.selenium.functional.UserCabinetTest">
				<methods>
					<include name="testCheckUserInfoInTheCabinet" />
				</methods>
			</class>
		</classes>
	</test>

































































</suite>

 	
